<%= link_to gravatar_for(@user, size: gravatar_size) %>
<h1><%= @user.name %></h1>
<span><%= link_to t(".view_profile"), @user %></span>
<span><%= pluralize @user.microposts.size, t(".micropost") %></span>
